.navbar {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}
.navbar-brand:hover{
  color: red;
}
.rounded-circle{
  height: 40px;
  width: 40px;
}
.userinfo{
  float: right;
}
